header
{
	background-color: orange;
	text-align: center;
	font-size: 1.5em;
}

nav ul li
{
	display: inline-block;
}

#photo_init
{
	width:100%;
	text-align: center;
}

#photo_init img
{
	height: 350px;
	width: 100%;
}